.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: white;
  color: black;
  font-family: 'Arial', sans-serif;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 60px;
  width: auto;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: #333;
  border-radius: 25px;
  padding: 3px 10px;
  max-width: 400px;
  margin: 0 auto;
  gap: 20px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 15px;
  border-radius: 20px;
  transition: background-color 0.3s;
  text-align: center;
  min-width: 100px;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
} 